.top-left{
    position: absolute;
    top:-50px;
    left:-50px;
}
.top-right{
    position: absolute;
    top:-50px;
    right:-50px;
}
.shaky{
    -webkit-animation: rubberBand 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation: rubberBand 0.5s;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.drop-in{
    -webkit-animation: bounceInDown 0.5s;
    animation: bounceInDown 0.5s;
}

.fade-in-right-big{
    -webkit-animation: fadeInRightBig 0.5s;
    animation: fadeInRightBig 0.5s;
}
.view-animate.ng-enter {
    -webkit-animation: lightSpeedIn 0.5s;
    animation: lightSpeedIn 0.5s;
}

.animate-if.ng-enter {
    -webkit-animation:fadeIn 0.5s;
    animation:fadeIn 0.5s;
}

.animate-if.ng-leave {
    -webkit-animation:fadeOut 0.5s;
    animation:fadeOut 0.5s;
}

.freak-out:hover {
    -webkit-animation:tada 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation:tada 0.5s;
    animation-iteration-count: infinite;
}

/* Styles go here */

.list-animation.ng-enter {
    /* standard transition code */
    -webkit-animation: bounceInDown 0.5s;
    animation: bounceInDown 0.5s;
}
.list-animation.ng-enter-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}
.list-animation.ng-enter.ng-enter-active {
    /* standard transition styles */
    opacity:1;
}

.list-animation.ng-leave {
    /* standard transition code */
    -webkit-animation: bounceOutDown 0.5s;
    animation: bounceOutDown 0.5s;
}
.list-animation.ng-leave-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}
.list-animation.ng-leave.ng-leave-active {
    /* standard transition styles */
    opacity:1;
}

.list-animation.ng-move {
    /* standard transition code */
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
    opacity:0;
}

.list-animation.ng-move.ng-move-active {
    /* standard transition styles */
    opacity:1;
}