<div class="row">
    <div ng-if="ctrl.hasError" class="alert alert-danger" role="alert">{{ctrl.errorMsg}}</div>
    <form name="ctrl.form" role="form">
        <div class="form-group" ng-class="ctrl.getValidityClasses('firstName')">
            <label class="control-label">First Name</label>
            <input name="firstName" ng-model="ctrl.contact.firstName" class="form-control" type="text" required />
            <span ng-show="ctrl.form.firstName.$dirty" class="glyphicon form-control-feedback" ng-class="ctrl.getValidityIcon('firstName')"></span>
        </div>
        <div class="form-group" ng-class="ctrl.getValidityClasses('lastName')">
            <label class="control-label">Last Name</label>
            <input name="lastName" ng-model="ctrl.contact.lastName" class="form-control" type="text" required />
            <span ng-show="ctrl.form.lastName.$dirty" class="glyphicon form-control-feedback" ng-class="ctrl.getValidityIcon('lastName')"></span>
        </div>
        <div class="form-group" ng-class="ctrl.getValidityClasses('dob')">
            <label class="control-label">DOB</label>
            <br/>
            <input name="dob" ng-model="ctrl.contact.dob" style="width:100%;" type="date" date-picker />
            <span ng-show="ctrl.form.dob.$dirty" class="glyphicon form-control-feedback feedback-kendo-fix" ng-class="ctrl.getValidityIcon('dob')"></span>
        </div>
        <div class="form-group" ng-class="ctrl.getValidityClasses('email')">
            <label class="control-label">Email</label>
            <input name="email" ng-model="ctrl.contact.email" class="form-control" type="text" email/>
            <span ng-show="ctrl.form.email.$dirty" class="glyphicon form-control-feedback" ng-class="ctrl.getValidityIcon('email')"></span>
        </div>
        <div class="form-group" ng-class="ctrl.getValidityClasses('phoneNumber')">
            <label class="control-label">Phone</label>
            <input name="phoneNumber" ng-model="ctrl.contact.phoneNumber" class="form-control" type="text" />
            <span ng-show="ctrl.form.phoneNumber.$dirty" class="glyphicon form-control-feedback" ng-class="ctrl.getValidityIcon('phoneNumber')"></span>
        </div>
        <button type="submit" ng-disabled="ctrl.form.$pristine" ng-click="ctrl.save()" class="btn btn-primary">Save</button>
        <button type="button" ng-disabled="ctrl.form.$pristine" ng-click="ctrl.cancelChanges()" class="btn btn-link">Cancel changes</button>
        <button type="button" ng-if="ctrl.contact._id" ng-click="ctrl.delete()" class="btn btn-danger pull-right">Delete</button>
    </form>
</div>
<br />