<div class="row">
    <div ng-if="ctrl.hasError" class="alert alert-danger" role="alert">{{ctrl.errorMsg}}</div>
    <form role="form">
        <div class="form-group">
            <label class="control-label">First Name</label>
            <input name="firstName" ng-model="ctrl.contact.firstName" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label class="control-label">Last Name</label>
            <input name="lastName" ng-model="ctrl.contact.lastName" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label class="control-label">DOB</label>
            <br/>
            <input name="dob" ng-model="ctrl.contact.dob" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input name="email" ng-model="ctrl.contact.email" class="form-control" type="text" email/>
        </div>
        <div class="form-group">
            <label class="control-label">Phone Number</label>
            <input name="phoneNumber" ng-model="ctrl.contact.phoneNumber" class="form-control" type="text" />
        </div>
        <button type="submit" ng-click="ctrl.save()" class="btn btn-primary">Save</button>
        <button type="button" ng-click="ctrl.cancelChanges()" class="btn btn-link">Cancel changes</button>
        <button type="button" ng-if="ctrl.contact._id" ng-click="ctrl.delete()" class="btn btn-danger pull-right">Delete</button>
    </form>
</div>
<br />