<div class="row" ng-if="hasError">
    <div class="media">
        <a class="pull-right freak-out" href="#/">
            <img class="media-object" src="/images/codeStockFace.png" alt="Scary clown face!">
        </a>

        <div class="media-body">
            <h1 class="media-heading">Something has gone terribly wrong...</h1>
            <em class="h3">Click The <strong>Scary Clown</strong> Face &nbsp;&nbsp; <i
                    class="fa fa-hand-o-right fa-2x"></i></em>
        </div>
    </div>
</div>